<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<header>
  <div class="container">
      <div id="titulo">
          <a routerLink=""><h2>INICIO</h2></a>
      </div>

      <div class="row">
          <div class="col-md">
              <a routerLink="/about"><h5>About</h5></a>
          </div>
          <div class="col-md">
            <a routerLink="/product"><h5>Productos</h5></a>
          </div>
          <div class="col-md">
              <a routerLink="/tennis"><h5>Tennis</h5></a>
          </div>
          <div class="col-md">
            <a routerLink="/twitch"><h5>Twitch</h5></a>
        </div>
      </div>
  </div>
</header>
