<main>
    <div class="container">
        <h1>
            TOP Tennis
            <a class="documentacion" href="https://rapidapi.com/cantagalloedoardo/api/ultimate-tennis1/details"><button type="button" class="btn btn-success">Documentación</button></a>
        </h1>
        <br>
    <p>Esta Api pertenece a Rapidapi y proporciona toda la información sobre el mundo del tenis, incluyendo todos los detalles relacionados con jugadores y torneos (puntuaciones en vivo, partidos, estadísticas) de los circuitos ATP, tanto individuales como dobles.
    </div>
<br>
    <div class="cards-container">
        <div class="card">
            <h2 class="card-title">Lista ATP</h2>
            <img class="card-image" src="https://www.atptour.com/es/news/www.atptour.com/-/media/images/news/2019/11/25/02/05/year-end-top-10-2019-web.jpg" alt="Imagen de Clips">
            <p class="card-content">El Pepperstone ATP Rankings es el tradicional método ATP basado en méritos para determinar la entrada y el orden de cabezas de serie en todos los torneos.</p>
            <a href="/tennisMasc/list"><button type="button" class="btn btn-primary">Ver más</button></a>
        </div>

        <div class="card">
            <h2 class="card-title">Gráfica ATP</h2>
            <img class="card-image" src="https://i.ytimg.com/vi/uCyYSiueR2s/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB0YjbJ8BvLMmFHnLq4kY7QOSat9A" alt="TennisAPI Image">
            <p class="card-content">Muestra una gráfica de tipo radar con los tenistas con más puntos en el ranking ATP.</p>
            <a href="/tennisMasc/chart"><button type="button" class="btn btn-primary">Ver más</button></a>
        </div>
    </div>
</main>