<div id="cuerpo">
    <table class="table table-bordered">
      <thead id="titulitos">
        <tr>
          <th>Título</th>
          <th>Número de visitas</th>
          <th>Clip</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clip of clips">
          <td>{{ clip.title }}</td>
          <td>{{ clip.view_count }}</td>
          <td>
            <iframe
              [src]="'https://clips.twitch.tv/embed?clip=' + clip.id + '&parent=localhost'"
              height="360"
              width="640"
              allowfullscreen>
            </iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  